<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="vendor/autoload.php" colors="true">
    <testsuites>
        <testsuite name="IIIF Reader Test Suite">
            <directory>./tests/Iiif/</directory>
            <directory>./tests/Iiif/Context</directory>
            <directory>./tests/Iiif/Presentation/Common/Model</directory>
            <directory>./tests/Iiif/Presentation/V1/Model</directory>
            <directory>./tests/Iiif/Presentation/V2/Model</directory>
            <directory>./tests/Iiif/Presentation/V3/Model/Resources</directory>
            <directory>./tests/Iiif/Services</directory>
        </testsuite>
    </testsuites>
	<filter>
	  <whitelist processUncoveredFilesFromWhitelist="true">
	    <directory suffix=".php">src</directory>
	  </whitelist>
	</filter>    
</phpunit>