<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="vendor/autoload.php" colors="true">
    <testsuites>
        <testsuite name="IIIF Reader Test Suite">
            <directory>./tests/iiif/presentation/v3/model</directory>
            <directory>./tests/iiif/presentation/v2/model</directory>
        </testsuite>
    </testsuites>
</phpunit>