<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="vendor/autoload.php" colors="true">
    <testsuites>
        <testsuite name="IIIF Reader Test Suite">
            <directory>./tests/iiif/</directory>
            <directory>./tests/iiif/context</directory>
            <directory>./tests/iiif/presentation/common/model</directory>
            <directory>./tests/iiif/presentation/v1/model</directory>
            <directory>./tests/iiif/presentation/v2/model</directory>
            <directory>./tests/iiif/presentation/v3/model</directory>
            <directory>./tests/iiif/services</directory>
        </testsuite>
    </testsuites>
	<filter>
	  <whitelist processUncoveredFilesFromWhitelist="true">
	    <directory suffix=".php">src</directory>
	  </whitelist>
	</filter>    
</phpunit>